{% extends 'workspace/base.html' %}

{% load static %}
{% load main_tags %}

{% block icon %}
  {% static 'images/icons/Add.svg' %}
{% endblock %}

{% block title %}
  Добавить товар
{% endblock %}

{% block style %}

{% endblock %}

{% block nav_center %}

{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <form action="{% url 'create_product' %}" class="add-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="form-title">Добавление товара</h1>

        <div class="name-block">
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }} <span class="red">*</span></label>
          {{ form.name }}
        </div>

        <div class="description-block">
          <label for="{{ form.description.id_for_label }}">{{ form.description.label }} <span class="red">*</span></label>
          {{ form.description }}
        </div>

        <div class="image-block">
          <div class="image-title">Основное изображение</div>

          <label class="image-label">
            <label for="{{ form.image.id_for_label }}" class="upload-btn"><i class="fa-solid fa-image"></i></label>
            <span>Выбранный файл: <span class="selected-file"></span></span>
            {{ form.image }}
          </label>

          <div class="image-title">Допольнительные изображения</div>

          <label class="gallery-label">
            <label for="gallery" class="upload-btn"><i class="fa-solid fa-image"></i></label>
            <span>Выбранные файл: <span class="selected-file"></span></span>
            <input type="file" name="gallery" class="hidden" id="gallery" accept="products/gallery" multiple />
          </label>
        </div>

        <div class="full-description-block">
          <label for="{{ form.full_description.id_for_label }}">{{ form.full_description.label }} <span class="red">*</span></label>
          {{ form.full_description }}
        </div>

        <div class="links-block">
          <div class="link-block">
            <label for="whatsapp"><i class="fa-brands fa-whatsapp"></i> Whatsapp</label>
            <input type="text" name="whatsapp" placeholder="Введите ссылку" id="whatsapp" />
          </div>
          <div class="link-block">
            <label for="telegram"><i class="fa-brands fa-telegram"></i> Telegram</label>
            <input type="text" name="telegram" placeholder="Введите ссылку" id="telegram" />
          </div>
          <div class="link-block">
            <label for="instagram"><i class="fa-brands fa-instagram"></i> Instagram</label>
            <input type="text" name="instagram" placeholder="Введите ссылку" id="instagram" />
          </div>
          <div class="link-block">
            <label for="facebook"><i class="fa-brands fa-facebook"></i> Facebook</label>
            <input type="text" name="facebook" placeholder="Введите ссылку" id="facebook" />
          </div>
        </div>

        <div class="split">
          <div class="author-block">
            <label for="{{ form.author.id_for_label }}">{{ form.author.label }} <span class="red">*</span></label>
            {{ form.author }}
          </div>
          <div class="price-block">
            <label for="{{ form.price.id_for_label }}">{{ form.price.label }} <span class="red">*</span></label>
            {{ form.price }}
          </div>
        </div>

        <div class="split">
          <div class="category-block">
            <label for="{{ form.category.id_for_label }}">{{ form.category.label }} <span class="red">*</span></label>
            {{ form.category }}
          </div>

          <div class="brand-block">
            <label for="{{ form.brand.id_for_label }}">{{ form.brand.label }} <span class="red">*</span></label>
            {{ form.brand }}
          </div>
        </div>

        <div class="split">
          <div class="condition-block">
            <label for="{{ form.condition.id_for_label }}">{{ form.condition.label }} <span class="red">*</span></label>
            {{ form.condition }}
          </div>

          <div class="model-block">
            <label for="{{ form.model.id_for_label }}">{{ form.model.label }} <span class="red">*</span></label>
            {{ form.model }}
          </div>
        </div>

        <div class="create-submit">
          <input type="submit" value="Добавить товар" />
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="{% static 'js/selectedImg.js' %}"></script>
{% endblock %}
