{% extends 'base.html' %}

{% block title %}
Корзина
{% endblock title %}

{% load static %}

{% block icon %}
{% static 'images/icons/Cart.svg' %}
{% endblock icon %}

{% block content %}

{% include 'components/filtration.html' %}


<section>
    <div class="container">

        <div class="products-list">

            {% for product in products %}
            <div class="product">
                <a href="{% url 'product_page' product_id=product.id %}" class="product-image">
                    {% if product.image != None %}
                    <img src="{{ product.image.url }}">
                    {% else %}
                    {% if product.category == 'Consoles' %}
                    <img src="{% static 'images/Console.png' %}">

                    {% elif product.category == 'Phones' %}
                    <img src="{% static 'images/Phone.png' %}">

                    {% elif product.category == 'Laptops and PC' %}
                    <img src="{% static 'images/Laptop.png' %}">

                    {% elif product.category == 'Household' %}
                    <img src="{% static 'images/Household.png' %}">
                    {% endif %}
                    {% endif %}
                </a>

                <div class="description">{{product.description}}</div>
                <div class="price">
                    ${{product.price}}
                    <div>{{product.category}}</div>
                </div>
                <div class="add-btn">Добавить в корзину</div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock content %}