{% extends 'base.html' %}
{% load main_tags %}

{% load static %}

{% block icon %}
  {% static 'images/icons/Product-List.png' %}
{% endblock %}

{% block title %}
  Список товаров
{% endblock %}

{% block style %}
  <style></style>
{% endblock %}

{% block content %}
  <div class="main">
    <aside class="filter-bar">
      <form>
        <div class="filter-block">
          <div class="open-btn">
            <span class="angle"><i class="fa-solid fa-angle-right"></i></span>
            Категории
          </div>
          <div class="filter-list hidden">
            {% get_categories as categories %}
            {% for category in categories %}
              <div class="check-block">
                <input type="checkbox" name="category_check" id="category_check" value="{{ category.id }}" />
                <label for="category_check">{{ category.name }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="filter-block">
          <div class="open-btn">
            <span class="angle"><i class="fa-solid fa-angle-right"></i></span>
            Бренды
          </div>
          <div class="filter-list hidden">
            {% get_brands as brands %}
            {% for brand in brands %}
              <div class="check-block">
                <input type="checkbox" name="brand_check" id="brand_check" value="{{ brand.id }}" />
                <label for="brand_check">{{ brand.name }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="filter-block">
          <div class="open-btn">
            <span class="angle"><i class="fa-solid fa-angle-right"></i></span>
            Состояния
          </div>
          <div class="filter-list hidden">
            <div class="check-block">
              <input type="checkbox" name="condition_check" id="condition_check" value="1" />
              <label for="condition_check">Б/У</label>
            </div>
            <div class="check-block">
              <input type="checkbox" name="condition_check" id="condition_check" value="2" />
              <label for="condition_check">Новое</label>
            </div>
          </div>
        </div>

        <div class="price-filter">
          <div class="open-btn">Цена</div>
          <div class="filter-list hidden">
            <div class="price-block">
              <label for="from_1price">От</label>
              <input type="number" name="from_price" id="from_price" />
            </div>

            <div class="price-block">
              <label for="to_price">До</label>
              <input type="number" name="to_price" id="to_price" />
            </div>
          </div>
        </div>

        <input type="submit" name="filter-submit" class="filter-submit" value="Фильтровать" />
      </form>
    </aside>

    <section class="product-list">
      <div class="container">
        <form class="product-sort">
          <div>
            <label for="sort">Сортировка:</label>
            <select name="sort" id="sort">
              <option value="default" selected disabled>Выберите</option>
              <option value="name_1">⮟ Название</option>
              <option value="name_2">⮝ Название</option>
              <option value="category_1">⮟ Категория</option>
              <option value="category_2">⮝ Категория</option>
              <option value="brand_1">⮟ Бренд</option>
              <option value="brand_2">⮝ Бренд</option>
              <option value="price_1">⮟ Цена</option>
              <option value="price_2">⮝ Цена</option>
            </select>
            <input type="submit" value="Сортировать">
          </div>
        </form>
        <div class="products-list">
          {% for product in products %}
            <div class="product">
              <a href="{% url 'product_page' product_id=product.id %}" class="product-image">
                {% if product.image %}
                  <img src="{{ product.image.url }}" />
                {% elif product.category.image %}
                  <img src="{{ product.category.image.url }}" />
                {% else %}
                  <img src="" alt="" />
                {% endif %}
              </a>

              <div class="description">{{ product.description }}</div>
              <div class="price">
                ${{ product.price }}
                <div>{{ product.category }}</div>
              </div>
              <div class="add-btn">Добавить в корзину</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}
