{% extends 'base.html' %}

{% load static %}

{% block icon %}
  {% static 'images/icons/Product.svg' %}
{% endblock %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block style %}
  <style>
    .nav-btns {
      display: flex;
      gap: 30px;
      align-items: center;
      transform: translateX(120px);
    }
    
    .nav-btns a {
      text-decoration: none;
      color: #000;
    }
    
    .product {
      border: 0;
      padding: 0;
      height: max-content;
    }
    
    .description {
      height: max-content;
      margin-bottom: 10px;
    }
    
    .category,
    .brand,
    .condition,
    .price,
    .model {
      font-size: 16px;
      font-weight: 500;
      border: 1px solid #696868;
      display: inline;
      color: #000;
      padding: 5px 10px;
      border-radius: 15px;
    }
    
    .product-info {
      display: flex;
      gap: 15px;
      padding-block: 10px;
    }
    
    .text {
      color: #696868;
    }
    
    .image {
      margin-top: 10px;
    }
    
    .image img {
      width: 600px;
      height: 360px;
    }
  </style>
{% endblock %}

{% block nav_center %}
  <div class="nav-btns">
    <a href="{% url 'main_page' %}">Главная страница</a>
    <a href="">Разработчики</a>
  </div>
{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <div class="product">
        <a href="" class="name">{{ product.name }}</a>
        <div class="image">
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="" />
          {% endif %}
        </div>
        <div class="description">Описание: {{ product.full_description }}</div>
        <div class="product-info">
          <div class="category">
            <span class="text">Категория:</span> {{ product.category }}
          </div>
          <div class="brand">
            <span class="text">Бренд:</span> {{ product.brand }}
          </div>
          <div class="condition">
            <span class="text">Состояние:</span> {{ product.condition }}
          </div>
          <div class="price">
            <span class="text">Цена:</span> ${{ product.price }}
          </div>
          <div class="model">
            <span class="text">Модель:</span> {{ product.model }}
          </div>
        </div>
        <div class="add-btn">Добавить в корзину</div>
      </div>
    </div>
  </section>
{% endblock %}
