{% extends 'base.html' %}

{% load static %}

{% block icon %}
  {% static 'images/icons/Product.svg' %}
{% endblock %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block style %}
  <style>
    .nav-btns {
      display: flex;
      gap: 30px;
      align-items: center;
      transform: translateX(120px);
    }
    
    .nav-btns a {
      text-decoration: none;
      color: #000;
    }
    
    .product {
      border: 0;
      padding: 0;
      height: max-content;
    }
    
    .description {
      height: max-content;
      margin-bottom: 10px;
    }
    
    .category,
    .brand,
    .condition,
    .price,
    .model {
      font-size: 16px;
      font-weight: 500;
      border: 1px solid #696868;
      display: inline;
      color: #000;
      padding: 5px 10px;
      border-radius: 15px;
    }
    
    .name {
      cursor: default;
    }
    
    .product-info {
      display: flex;
      gap: 15px;
      padding-block: 10px;
    }
    
    .text {
      color: #696868;
    }
  </style>
{% endblock %}

{% block nav_center %}
  <div class="nav-btns">
    <a href="{% url 'main_page' %}">Главная страница</a>
    <a href="">Разработчики</a>
  </div>
{% endblock %}

{% block content %}
  <div class="gallery-modal hidden">
    <div class="image-modal">
      <div class="modal-arrows">
        <div class="arrow">
          <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="arrow">
          <i class="fa-solid fa-angle-left"></i>
        </div>
      </div>
      <div class="image-block">
        <img src="{{ product.image.url }}" />
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="product">
        <a href="" class="name">{{ product.name }}</a>
        <div class="images">
          <div class="all-images">
            {% if product.image %}
              <div class="image-box">
                <img src="{{ product.image.url }}" />
              </div>
            {% endif %}
            {% if product.gallery %}
              {% for image in product.gallery.all %}
                <div class="image-box">
                  <img src="{{ image.file.url }}" />
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="description">Описание: {{ product.full_description }}</div>
        <div class="views">
          <i class="fa-solid fa-eye"></i> Просмотры: {{ product.views }}
        </div>
        <div class="product-info">
          <div class="category">
            <span class="text"><i class="fa-solid fa-layer-group"></i> Категория:</span> {{ product.category }}
          </div>
          <div class="brand">
            <span class="text"><i class="fa-solid fa-tag"></i> Бренд:</span> {{ product.brand }}
          </div>
          <div class="condition">
            <span class="text"><i class="fa-solid fa-gears"></i> Состояние:</span> {{ product.condition }}
          </div>
          <div class="price">
            <span class="text"><i class="fa-solid fa-dollar-sign"></i> Цена:</span> ${{ product.price }}
          </div>
          <div class="model">
            <span class="text"><i class="fa-solid fa-square-check"></i> Модель:</span> {{ product.model }}
          </div>
        </div>
        <div class="add-btn">Добавить в корзину</div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}

{% block paginator %}

{% endblock %}
